/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	background-color:#999;
	color:#FFF;
	font-family:sans-serif;
	
	#display {
		position:relative;
		width:360px;
		height:640px;
		background-color:#000;
		overflow:hidden;
	}
}

#title {
	background-image: url(../images/01_title/title.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center 49%;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes threeFrameAnimation {
    0% { background-position: 0% 0; }
    100% { background-position: -300% 0; }
}

@keyframes threeFrameAnimation {
    0% { background-position: 0% 0; }
    100% { background-position: -300% 0; }
}
