@import url(common.css);

ul#color-palette {
	
	width:32px;
	right:0;
	position:absolute;
	padding:16px;
	
	& , >li {
		list-style-type: none;
	}
	>li {
		
		display:block;
		border-radius:32px;
		background-color:#FFF;
		width:32px;
		height:32px;
		margin-top:4px;
		margin-bottom:4px;
		position:relative;
		
		&.color-pink {background-color:#F14A90;}
		&.color-yellow {background-color:#FEE333;}
		&.color-blue {background-color:#157ECA;}
		&.color-green {background-color:#53C65A;}
		&.color-white {background-color:#FFFFFF;}
		&.color-rainbow {}
		&.mirror-toggle {}
	}
	
	& > li {
		right:-40px;
		&:nth-child(0){transition:transform 0.1s ease-out,right 0.2s ease-out 0.0s;}
		&:nth-child(1){transition:transform 0.1s ease-out,right 0.2s ease-out 0.025s;}
		&:nth-child(2){transition:transform 0.1s ease-out,right 0.2s ease-out 0.05s;}
		&:nth-child(3){transition:transform 0.1s ease-out,right 0.2s ease-out 0.075s;}
		&:nth-child(4){transition:transform 0.1s ease-out,right 0.2s ease-out 0.1s;}
		&:nth-child(5){transition:transform 0.1s ease-out,right 0.2s ease-out 0.125s;}
		&:nth-child(6){transition:transform 0.1s ease-out,right 0.2s ease-out 0.15s;}
		&:nth-child(7){transition:transform 0.1s ease-out,right 0.2s ease-out 0.175s;}
	}
	&.opened > li {
		
		right:0;
	}
	
	>li.color {
		transform:scale(0.5);
		// transition:transform 0.1s ease-in-out; 
	}
	
	>li.mirror-toggle {
		height:64px;
		position:relative;
		top:8px;
		right:-48px;
	}
	
	&.opened >li.mirror-toggle {
		right:0;
	}
	
	>li.color.selected ,>li.color:hover {
		transform:scale(1);
	}
	
}

ul#color-palette {
}

ul#color-palette.opened {
}