@import url(common.css);


#main-nav {
	
	position: absolute;
	top:65%;
	width:100%;
	text-align:center;
	
	> li {
		display:inline-block;
		
		a {
			display:block;
			border:1px solid #FFF;
			padding:8px;
			border-radius:32px;color:#FFF;
			width:80px;
			text-decoration:none;
		}
	}
}


/* Pairing Screen */

#pairing {
	text-align:center;
}

@-webkit-keyframes threeFrameAnimation {
    0% { background-position: 0% 0; }
    100% { background-position: -300% 0; }
}

@keyframes threeFrameAnimation {
    0% { background-position: 0% 0; }
    100% { background-position: -300% 0; }
}


#pairing-title {
	width:70%;
	display:inline-block;
	background-image:url(../images/02_match/match_title_anim.png);
	background-size:cover;
	-webkit-animation: threeFrameAnimation 0.2s steps(3, end) infinite alternate;
    animation: threeFrameAnimation 0.2s steps(3, end) infinite alternate;
	margin-top:35%;
}

#pairing-note {
	width:80%;
	display:inline-block;
}

#pairing-animation {
	width:280px;
	background-image:url(../images/02_match/match_anim.png);
	background-size:cover;
	-webkit-animation: threeFrameAnimation 1.5s steps(3, end) infinite alternate;
    animation: threeFrameAnimation 1.5s steps(3, end) infinite alternate;
}

/* Album view */

#polarium-lists {
	overflow:scroll;
}
.album-view {
	text-align:center;
	
	& , > li {
		list-style-type: none;
		margin: 0;padding: 0;
	}
	
	> li {
		display:inline-block;
		width:150px;
		height:150px;
		text-align:center;
	}
	.thumbnail {
		width:130px;
		height:130px;
		border-radius:140px;
		padding:5px;
		background-color:#ccc;
		> img {
			width:130px;
			height:130px;
			border-radius:130px;
			background-color:red;
		}
	}
}
