@import url(common.css);


#main-nav {
	
	position: absolute;
	top:65%;
	width:100%;
	text-align:center;
	
	> li {
		display:inline-block;
		
		a {
			display:block;
			border:1px solid #FFF;
			padding:8px;
			border-radius:32px;color:#FFF;
			width:80px;
			text-decoration:none;
		}
	}
}


@-webkit-keyframes handshake {
    0% { background-position: 0% 0; }
    100% { background-position: -300% 0; }
}

@keyframes handshake {
    0% { background-position: 0% 0; }
    100% { background-position: -300% 0; }
}

#pairing-animation {
	width:280px;
	background-image:url(../images/02_match/match_anim.png);
	background-size:cover;
	-webkit-animation: handshake 1.5s steps(3, end) infinite alternate;
    animation: handshake 1.5s steps(3, end) infinite alternate;
}