@import url(common.css);


#play {
	width:100%;
	height:100%;
	background-image:url(../images/05_get/recieve_sample.jpg);
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	
	>img {
		position:absolute;
		bottom:0px;
	}

}

