@import url(common.css);
/* line 4, ../sass/home.scss */
#main-nav {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
}
/* line 11, ../sass/home.scss */
#main-nav > li {
  display: inline-block;
}
/* line 14, ../sass/home.scss */
#main-nav > li a {
  display: block;
  border: 1px solid #FFF;
  padding: 8px;
  border-radius: 32px;
  color: #FFF;
  width: 80px;
  text-decoration: none;
}

/* line 25, ../sass/home.scss */
#title-home {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
/* line 33, ../sass/home.scss */
#title-home #main-title {
  width: 70%;
  display: inline-block;
  background-image: url(../images/01_title/logo_anim.png);
  background-size: cover;
  -webkit-animation: threeFrameAnimation 0.4s steps(3, end) infinite;
  animation: threeFrameAnimation 0.4s steps(3, end) infinite;
  margin-top: 60%;
}

/* Pairing Screen */
/* line 49, ../sass/home.scss */
#pairing {
  text-align: center;
  position: absolute;
  display: none;
  top: 0;
}

/* line 56, ../sass/home.scss */
#pairing-title {
  width: 70%;
  display: inline-block;
  background-image: url(../images/02_match/match_title_anim.png);
  background-size: cover;
  -webkit-animation: threeFrameAnimation 0.2s steps(3, end) infinite alternate;
  animation: threeFrameAnimation 0.2s steps(3, end) infinite alternate;
  margin-top: 35%;
}

/* line 66, ../sass/home.scss */
#pairing-note {
  width: 80%;
  display: inline-block;
}

/* line 71, ../sass/home.scss */
#pairing-animation {
  width: 280px;
  background-image: url(../images/02_match/match_anim.png);
  background-size: cover;
  -webkit-animation: threeFrameAnimation 1.5s steps(3, end) infinite alternate;
  animation: threeFrameAnimation 1.5s steps(3, end) infinite alternate;
}

/* Album view */
/* line 81, ../sass/home.scss */
#polarium-lists {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: center;
}
/* line 92, ../sass/home.scss */
#polarium-lists .album-title, #polarium-lists .album-notes {
  display: inline-block;
}
/* line 93, ../sass/home.scss */
#polarium-lists .album-title {
  margin-top: 30px;
  width: 70%;
}
/* line 94, ../sass/home.scss */
#polarium-lists .album-notes {
  margin-bottom: 10px;
  width: 80%;
}

/* line 97, ../sass/home.scss */
.album-view {
  text-align: center;
}
/* line 100, ../sass/home.scss */
.album-view, .album-view > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 105, ../sass/home.scss */
.album-view > li {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin-bottom: 16px;
}
/* line 110, ../sass/home.scss */
.album-view > li .date {
  display: inline-block;
  min-width: 10px;
  height: 1em;
}
/* line 118, ../sass/home.scss */
.album-view .thumbnail {
  width: 130px;
  height: 130px;
  border-radius: 140px;
  padding: 10px;
  background-image: url(../images/06_album/thumbnail_frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 129, ../sass/home.scss */
.album-view .thumbnail > img {
  width: 100%;
  height: 100%;
  border-radius: 130px;
  background-color: red;
}

/* line 139, ../sass/home.scss */
img.image-fit {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}
