@import url(common.css);
/* line 4, ../sass/home.scss */
#main-nav {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
}
/* line 11, ../sass/home.scss */
#main-nav > li {
  display: inline-block;
}
/* line 14, ../sass/home.scss */
#main-nav > li a {
  display: block;
  border: 1px solid #FFF;
  padding: 8px;
  border-radius: 32px;
  color: #FFF;
  width: 80px;
  text-decoration: none;
}

/* line 26, ../sass/home.scss */
#pairing {
  text-align: center;
}

@-webkit-keyframes threeFrameAnimation {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -300% 0;
  }
}
@keyframes threeFrameAnimation {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -300% 0;
  }
}
/* line 43, ../sass/home.scss */
#pairing-title {
  width: 70%;
  display: inline-block;
  background-image: url(../images/02_match/match_title_anim.png);
  background-size: cover;
  -webkit-animation: threeFrameAnimation 0.2s steps(3, end) infinite alternate;
  animation: threeFrameAnimation 0.2s steps(3, end) infinite alternate;
  margin-top: 35%;
}

/* line 53, ../sass/home.scss */
#pairing-note {
  width: 80%;
  display: inline-block;
}

/* line 58, ../sass/home.scss */
#pairing-animation {
  width: 280px;
  background-image: url(../images/02_match/match_anim.png);
  background-size: cover;
  -webkit-animation: threeFrameAnimation 1.5s steps(3, end) infinite alternate;
  animation: threeFrameAnimation 1.5s steps(3, end) infinite alternate;
}
